<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'parcours.tabPan' | translate}}" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'parcours.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="4">{{ 'parcours.code' | translate }}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="{{'parcours.code' | translate}}"
                               id="4" [(ngModel)]="item.code"
                               [ngClass]="{'ng-invalid ng-dirty' : !validParcoursCode}"/>
                        <small class='p-error' *ngIf='!validParcoursCode'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="5">{{ 'parcours.libelle' | translate }}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="{{'parcours.libelle' | translate}}"
                               id="5" [(ngModel)]="item.libelle"
                               [ngClass]="{'ng-invalid ng-dirty' : !validParcoursLibelle}"/>
                        <small class='p-error' *ngIf='!validParcoursLibelle'>Libelle est obligatoire.</small>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="1">{{ 'parcours.datePublication' | translate }}</label>
                        <p-calendar appendTo="body" id="1" [showTime]="true" [showSeconds]="false"
                                    placeholder="{{'parcours.datePublication' | translate}}"
                                    [(ngModel)]="item.datePublication"
                                    dateFormat="{{dateFormat}}">
                        </p-calendar>

                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{ 'parcours.description' | translate }}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30"
                                  placeholder="{{'parcours.description' | translate}}" [(ngModel)]="item.description"
                        ></textarea>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="6">{{ 'parcours.numeroOrder' | translate }}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'parcours.numeroOrder' | translate}}"
                                       [(ngModel)]="item.numeroOrder">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="7">{{ 'parcours.nombreCours' | translate }}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'parcours.nombreCours' | translate}}"
                                       [(ngModel)]="item.nombreCours">
                        </p-inputNumber>

                    </div>
                    <div class="field col-11 md:col-6">
                        <label for="8">{{ 'parcours.centre' | translate }}</label>
                        <p-dropdown appendTo="body" [options]="centres" [(ngModel)]="item.centre" id="8" [filter]="true"
                                    filterMatchMode="contains"
                                    [showClear]="true" optionLabel="ref"
                                    placeholder="{{'parcours.centre' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button pButton pRipple class="border-0" style="background-color: #FF725E;" label="{{'validate' | translate}}" icon="pi pi-check" (click)="save()"></button>


            <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined"
                    (click)="hideCreateDialog()" style="color: #FF725E;"></button>


        </div>
    </ng-template>

</p-dialog>
