



<div class="flex flex-column">
    <p-accordion>
        <p-accordionTab *ngFor="let tab of categorieSections; let i=index" (click)="viewsection(tab)" [header]="tab.libelle">
            <div *ngFor="let elem of itemseditorSec; let j=index" (click)="affichersetion(elem)">
                <p-listbox
                    [options]="[elem]"
                    optionLabel="libelle"
                    class="justify-content-center"
                >
                </p-listbox>
            </div>
        </p-accordionTab>
    </p-accordion>
    <div class="flex mt-2">
        <button pButton class="col col-4 p-button-danger m-2" label="Previous"></button>
        <button pButton class="col col-4 p-button-warning m-2" label="Next" ></button>
    </div>
</div>
