<!--
<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
<!--        <div class="card">
            <div class="tables">
                <div class="col col-4 table-container">
                    <p-toolbar [style]="{'background-color': 'white'}" styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <div class="d-flex align-items-center">
                                <button [style]="{'background-color': '#ff725e', 'height': '100%'}" pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button mr-2 mb-2 bouton" (click)="openCreate('Parcours')" *ngIf="createActionIsValid"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="right">
                         <span [style]="{'margin-top':'0px'  }"  class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                    <input [style]="{'background-color': 'white' , 'width' :'130px'}" pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                         </span>
                        </ng-template>
                    </p-toolbar>

                    <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1-1">{{'parcours.datePublicationMin' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.datePublicationFrom"
                                    id="1-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1-2">{{'parcours.datePublicationMax' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.datePublicationTo"
                                    id="1-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                        </div>


                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2-1">{{'parcours.dateCreationMin' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateCreationFrom"
                                    id="2-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-2">{{'parcours.dateCreationMax' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateCreationTo"
                                    id="2-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                        </div>

                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4">{{'parcours.code' | translate}}</label>
                            <input  class="w-full"  pInputText id="4" type="text"  [(ngModel)]="criteria.codeLike">
                        </div>
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5">{{'parcours.libelle' | translate}}</label>
                            <input  class="w-full"  pInputText id="5" type="text"  [(ngModel)]="criteria.libelleLike">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-1">{{'parcours.numeroOrderMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.numeroOrderMin" id="6-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-2">{{'parcours.numeroOrderMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.numeroOrderMax" id="6-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-1">{{'parcours.nombreCoursMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.nombreCoursMin" id="7-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'parcours.nombreCoursMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.nombreCoursMax" id="7-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-2">{{'parcours.centre' | translate}}</label>
                            <p-dropdown [options]="centres" [(ngModel)]="criteria.centre" id="8" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'parcours.centre' | translate}}" optionLabel="ref">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'Etat Parcours' | translate}}</label>
                            <p-dropdown [options]="etatParcourss" [(ngModel)]="criteria.etatParcours" id="5" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'Etat Parcours' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['datePublication', 'dateCreation', 'code', 'libelle', 'numeroOrder', 'nombreCours', 'centreref','etatParcourslibelle']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'parcours.header' | translate}}</h5>
                       <!-- <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>--
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                    <!--    <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>-->

                        <!--<th pSortableColumn="datePublication">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.datePublication' | translate}}</span>
                                <p-sortIcon field="datePublication"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="dateCreation">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.dateCreation' | translate}}</span>
                                <p-sortIcon field="dateCreation"></p-sortIcon>
                            </div>
                        </th>-->


                        <!--<th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>--


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
<!--                                <p-columnFilter type="text" field="element.libelle" display="menu" class="ml-auto"></p-columnFilter>--
                            </div>
                        </th>


                       <!-- <th pSortableColumn="numeroOrder">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.numeroOrder' | translate}}</span>
                                <p-sortIcon field="numeroOrder"></p-sortIcon>
                            </div>
                        </th>
--

                        <th pSortableColumn="nombreCours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.nombreCours' | translate}}</span>
                                <p-sortIcon field="nombreCours"></p-sortIcon>
                            </div>
                        </th>


                        <!--<th pSortableColumn="centre">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'parcours.centre' | translate}}</span>
                                <p-sortIcon field="centre"></p-sortIcon>
                            </div>
                        </th>--

                        <th pSortableColumn="etatParcours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span><!--{{'Etat Parcours' | translate}}-- Etat</span>
                                <p-sortIcon field="etatParcours"></p-sortIcon>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>

                    <tr>

                        <!--<td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>-->

                       <!-- <td>{{element.datePublication | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.dateCreation | date :'dd/MM/yyyy HH:mm' }}</td>-->


                        <!--<td>{{element.code}}</td>--


                        <td>{{element.libelle}}</td>


                       <!-- <td>{{element.numeroOrder}}</td>--


                        <td>{{element.nombreCours}}</td>


                        <!--<td>{{element.centre?.ref}}</td>--

                        <td>{{element.etatParcours?.libelle}}</td>


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
<!--                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>--

                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
<!--                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>--
                            <button pButton pRipple icon="pi pi-arrow-circle-right" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="viewCourss(element)"   ></button><!--(mouseenter)="parcourview(element)"--
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'parcours' : 'parcourss' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
                </div>
            </div>

<!--        </div>--

        <app-parcours-create-admin  *ngIf="createDialog  && createActionIsValid"></app-parcours-create-admin>
        <app-parcours-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-parcours-edit-admin>
        <app-parcours-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-parcours-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
-->



<p-toast></p-toast>
<main class="table" id="customers_table">
    <section class="table__header">
        <div class="buttons">
            <button pButton class="new" icon="pi pi-plus" (click)="openCreate('parcours')" *ngIf="createActionIsValid">
                <span class="button-label">{{ 'new' | translate }}</span>
            </button>

            <button pButton class="delete" icon="pi pi-trash" (click)="deleteMultiple()" *ngIf="deleteActionIsValid">
                <span class="button-label">{{ 'delete' | translate }}</span>
            </button>
        <</div>
        <div #dt class="input-group">
            <input type="search" class="pi pi-plus" placeholder="Search Data..." (click)="this.showSearch()" (input)="filterGlobal($event.target.value)">
            <i class="pi pi-search"></i>
        </div>
        <h2 style="text-align: center;">Parcours</h2>
    </section>
    <section class="table__body">
        <div class="table__wrapper">
                <table>
                    <thead>
                    <tr>
                        <th> Parcours</th>
                        <th> Etat cours</th>
                        <th> N° Cours</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cour of filteredItems; let i = index">
                            <td> {{cour.libelle}} </td>
                            <td> {{cour.etatParcours?.libelle}} </td>
                            <td>
                                <p class="status delivered">{{cour.nombreCours}}</p>
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(cour)"  *ngIf="editActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(cour)"  *ngIf="deleteActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-arrow-circle-right" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="viewCourss(cour)"   ></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </section>
</main>
<app-parcours-create-admin  *ngIf="createDialog"></app-parcours-create-admin>
<app-parcours-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-parcours-edit-admin>
<app-parcours-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-parcours-view-admin>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
