<h4 class="tit">Free Trial</h4>
<div class="trial">
    <div>
        <div class="carta">
            <h2>Book A Free Trial Lesson</h2>
            <p>Learn English Online Free Today.Discuss Your English Goals With A Qualified Teacher.</p>
            <ul>
                <li>30-minute free trial lesson</li>
                <li> Know your current English level</li>
                <li>Discuss your learning style</li>
                <li>Set your English learning goals</li>
                <li>Create your language training plan</li>
                <li>You’ll love what you’re learning at EngFlexy</li>
            </ul>
        </div>
        <div class="bout">
            <button class="apply">Apply now</button>
        </div>
    </div>
</div>
