<section class="pricing-section">
    <h2 class="pricing-section__title titre">Cours</h2>
    <div class="pricing pricing--rabten">
        <div class="pricing__item">
            <div class="icon icon--home"></div>
            <h3 class="pricing__title">Group</h3>
            <p class="pricing__sentence">Best for students on a budget</p>
            <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>3.9
                        </span>
                <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per class</span>
                        </span>
            </div>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">24 live classes</li>
                <li class="pricing__feature">60 mins per class</li>
                <li class="pricing__feature">2-8 students/group</li>
                <li class="pricing__feature">Get certified</li>
            </ul>
            <button class="pricing__action">Subscribe Now</button>
        </div>
        <div class="pricing__item">
            <div class="icon icon--store"></div>
            <h3 class="pricing__title">Individual GOLD</h3>
            <p class="pricing__sentence">Learning with personal teacher</p>
            <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>11.9
                        </span>
                <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per class</span>
                        </span>
            </div>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">24 live classes</li>
                <li class="pricing__feature">60 mins per class</li>
                <li class="pricing__feature">Get certified</li>
                <li class="pricing__feature">Feedback reports</li>
            </ul>
            <button class="pricing__action">Subscribe Now</button>
        </div>
        <div class="pricing__item">
            <div class="icon icon--apartment"></div>
            <h3 class="pricing__title">Individual SILVER</h3>
            <p class="pricing__sentence">Learning with personal teache</p>
            <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>13.9
                        </span>
                <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per class</span>
                        </span>
            </div>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">8 live classes</li>
                <li class="pricing__feature">60 mins per class</li>
                <li class="pricing__feature">Get certified</li>
                <li class="pricing__feature">Feedback reports</li>
            </ul>
            <button class="pricing__action">Subscribe Now</button>
        </div>
    </div>
</section>
