
<p-toast></p-toast>
<main class="table" id="customers_table">
    <!--<section class="table__header">
        <div class="top">
            <div class="buttons">
            <button pButton class="new" icon="pi pi-plus" [disabled]="!showCours" (click)="openCreate('Cours')" *ngIf="createActionIsValid">
                <span class="button-label">{{ 'new' | translate }}</span>
            </button>

            <button pButton class="delete" icon="pi pi-trash" (click)="deleteMultiple()" *ngIf="deleteActionIsValid">
                <span class="button-label">{{ 'delete' | translate }}</span>
            </button>
        </div>
        &lt;!&ndash;<div class="input-group">
            <input type="search" class="pi pi-plus" placeholder="Search Data..." (input)="filterGlobal($event.target.value)">
            <i class="pi pi-search"></i>
        </div>&ndash;&gt;
        <span class="input-group">
                            <i class="pi pi-search"></i>
                            <input  type="search" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
        </span>
        </div>
    </section>-->
    <section class="table__header">
        <div class="top">
            <div class="buttons">
                <button pButton class="new" icon="pi pi-plus" [disabled]="!showCours" (click)="openCreate('Cours')" *ngIf="createActionIsValid">
                    <span class="button-label">{{ 'new' | translate }}</span>
                </button>

                <!--<button pButton class="delete" icon="pi pi-trash" (click)="deleteMultiple()" *ngIf="deleteActionIsValid">
                    <span class="button-label">{{ 'delete' | translate }}</span>
                </button>-->
            </div>
            <div class="input-group">
                <input type="search" class="pi pi-plus" placeholder="Search Data..." (input)="dt.filterGlobal($event.target.value , 'contains')">
                <i class="pi pi-search"></i>
            </div>
        </div>
        <h2 style="text-align: center;">Cours</h2>
    </section>
    <section class="table__body">

            <p-table #dt [value]="itemsCours"  class="p-datatable-thead p-datatable-tbody"
                    [globalFilterFields]="['code', 'libelle', 'image', 'etatCourslibelle', 'parcourslibelle', 'nombreSectionFinalise', 'nombreSectionEnCours', 'nombreLinkEnCours', 'nombreLinkFinalise', 'numeroOrder','nombreSection']" [(selection)]="selections"
            >
                <ng-template  pTemplate="header"	>


                    <tr >
                        <th>Cours</th>
                        <th>Etat</th>
                        <th>N° section</th>
                        <th>Action</th>
                    </tr>

                </ng-template>
                <ng-template *ngIf="!showCours"  pTemplate="body" let-element>

                    <tr  >
                        <!--<td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>-->

                        <td>  {{element.libelle}} </td>
                        <td> {{element.etatCours?.libelle}} </td>
                        <td>
                            <p class="status delivered">{{element.nombreSection}}</p>
                        </td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="editCours(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="deleteCours(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-raised p-button-warning mr-2"  (click)="viewSection(element)"></button>
                        </td>
                    </tr>
                </ng-template>


            </p-table>

            </section>
            </main>
        <app-cours-create-admin  *ngIf="createDialog  && createActionIsValid"></app-cours-create-admin>
        <app-cours-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-cours-edit-admin>
        <app-cours-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-cours-view-admin>



<!--<p-toast></p-toast>
<main class="table" id="customers_table">
    <section class="table__header">
        <div class="buttons">
            <button pButton class="new" icon="pi pi-plus" [disabled]="!showCours" (click)="openCreate('Cours')" *ngIf="createActionIsValid">
                <span class="button-label">{{ 'new' | translate }}</span>
            </button>

            <button pButton class="delete" icon="pi pi-trash" (click)="deleteMultiple()" *ngIf="deleteActionIsValid">
                <span class="button-label">{{ 'delete' | translate }}</span>
            </button>
        </div>
        <div class="input-group">
            <input type="search" class="pi pi-plus" placeholder="Search Data..." (input)="filterGlobal($event.target.value)">
            <i class="pi pi-search"></i>
        </div>
        </div>
        <h2 style="text-align: center;">Cours</h2>
    </section>
    <section class="table__body">
        <table >
            <thead>
            <tr>
                <th> Cours</th>
                <th> Etat cours</th>
                <th> N° section</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr   *ngFor="let cour of itemsCours; let i = index">
                <td> {{cour.libelle}} </td>
                <td> {{cour.etatCours?.libelle}} </td>
                <td>
                    <p class="status delivered">{{cour.nombreSection}}</p>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="editCours(cour)"  *ngIf="editActionIsValid"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="deleteCours(cour)"  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-raised p-button-warning mr-2"  (click)="viewSection(cour)"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<app-cours-create-admin  *ngIf="createDialog  && createActionIsValid"></app-cours-create-admin>
<app-cours-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-cours-edit-admin>
<app-cours-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-cours-view-admin>-->

<!--ayoub-->
<!--
<p-toast></p-toast>
<main class="table" id="customers_table">
    <section class="table__header">
        <div class="top">
            <div class="buttons">
            <button pButton class="new" icon="pi pi-plus" [disabled]="!showCours" (click)="openCreate('Cours')" *ngIf="createActionIsValid">
                <span class="button-label">{{ 'new' | translate }}</span>
            </button>

            <button pButton class="delete" icon="pi pi-trash" (click)="deleteMultiple()" *ngIf="deleteActionIsValid">
                <span class="button-label">{{ 'delete' | translate }}</span>
            </button>
        </div>
        <div class="input-group">
            <input type="search" class="pi pi-plus" placeholder="Search Data..." (click)="this.showSearch()" (input)="filterGlobal($event.target.value)">
            <i class="pi pi-search"></i>
        </div>
        </div>
        <h2 style="text-align: center;">Cours</h2>
    </section>
    <section class="table__body">
        <div class="table__wrapper">
            <table>
                <thead>
                <tr>
                    <th> Cours</th>
                    <th> Etat cours</th>
                    <th> N° section</th>
                    <th> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let cour of filteredItems; let i = index">
                    <td> {{cour.libelle}} </td>
                    <td> {{cour.etatCours?.libelle}} </td>
                    <td>
                        <p class="status delivered">{{cour.nombreSection}}</p>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="editCours(cour)"  *ngIf="editActionIsValid"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="deleteCours(cour)"  *ngIf="deleteActionIsValid"></button>
                        <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-raised p-button-warning mr-2"  (click)="viewSection(cour)"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
-->
