* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
    .table, .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

/*@page {
    size: landscape;
    margin: 0;
}*/

body {
    min-height: 100vh;
    background: center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .4rem #0002;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #FF752E center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    background-color: #ff9b24;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;

    box-shadow: 0 .2rem .5rem #0004;

    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.new {
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    background: #07b9e4;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease;

    .pi {
        font-size: 1.5rem;
        padding-left: .6rem;
        transition: margin-right 0.3s ease;
    }

    .button-label {
        white-space: nowrap;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateX(-100%);
        margin-left: 8px;
    }

    &:hover {
        width: auto;
        padding: 0 10px;
        background: #07b9e4;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .pi {
            margin-right: 5px;
        }

        .button-label {
            opacity: 1;
            transform: translateX(0);
            font-size: 1.2rem;
        }
    }
}


.delete {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    background: #e53935;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background 0.3s ease;

    .pi {
        font-size: 1.5rem;
        padding-left: .6rem;
        transition: margin-right 0.3s ease;
    }

    .button-label {
        white-space: nowrap;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateX(-100%);
        margin-left: 8px;
    }

    &:hover {
        width: auto;
        padding: 0 10px;
        background: #e53935;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .pi {
            margin-right: 8px;
        }

        .button-label {
            opacity: 1;
            transform: translateX(0);
            font-size: 1.2rem;
        }
    }

    &:disabled {
        background: #ccc;
        cursor: not-allowed;

        &:hover {
            width: 40px;
            padding: 0;

            .pi {
                margin-right: 0;
            }

            .button-label {
                opacity: 0;
                transform: translateX(-100%);
            }
        }
    }
}


.table__wrapper{
    max-height: 60vh; /* Set a fixed height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Optional: Add border for better visual */
}
/**/
/*
@media print {
    .custom-table, .custom-table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

.custom-table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.custom-table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.custom-table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.custom-table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

!**!!**!
.custom-table thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}
.custom-table thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}
.custom-table thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}
.custom-table thead th:hover {
    color: #6c00bd;
}
.custom-table thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}
.custom-table thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}
.custom-table thead th.active,
.custom-table tbody td.active {
    color: #6c00bd;
}

*/

.p-datatable-thead	 th {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #d5d1defe !important;
    cursor: pointer !important;
    text-transform: capitalize !important;
}
.p-datatable-thead	 th span.icon-arrow {
    display: inline-block !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
    border-radius: 50% !important;
    border: 1.4px solid transparent !important;

    text-align: center !important;
    font-size: 1rem !important;

    margin-left: .5rem !important;
    transition: .2s ease-in-out !important;
}

.p-datatable-thead	 th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd !important;
}

.p-datatable-thead	 th:hover {
    color: #6c00bd !important;
}

.p-datatable-thead	 th.active span.icon-arrow{
    background-color: #6c00bd !important;
    color: #fff !important;
}

.p-datatable-thead	 th.asc span.icon-arrow{
    transform: rotate(180deg) !important;
}

.p-datatable-thead	 th.active,tbody td.active {
    color: #6c00bd !important;
}

/**/
/*.p-datatable-tbody	td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

.p-datatable-tbody table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}
.p-datatable-tbody tbody tr td{
    transition: .2s ease-in-out;
}

.p-datatable-tbody tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out .5s;
}

.p-datatable-tbody tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}
@media (max-width: 1000px) {
    .p-datatable-tbody td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}*/
