<h1 class="titre">Statistics Page</h1>
<div class="all">
    <div class="cards">
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/parcour-icon.png">
            <div class="cart">
                <h3 style="padding-top: 10px;">Parcours</h3>
                <p>{{parcours.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/cours.png">
            <div class="cart">
                <h3>Cours</h3>
                <p>{{cours.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/section.png">
            <div class="cart">
                <h3>Section</h3>
                <p>{{sections.length}}</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="card col col-2 col-offset-2">
            <img src="../../../../../assets/demo/images/flag/quiz.png">
            <div class="cart">
                <h3>Quiz</h3>
                <p>{{Quiss.length}}</p>
            </div>
        </div>
        <div class="card col col-2 col-offset-2">
            <img src="../../../../../assets/demo/images/flag/admin.png">
            <div class="cart">
                <h3>Admins</h3>
                <p>{{items.length}}</p>
            </div>
        </div>
    </div>
</div>
