<h1 class="titre">Statistics Page</h1>
<div class="all">
    <div class="cards">
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/parcour-icon.png">
            <div class="cart">
                <h3 style="padding-top: 10px;">Parcours</h3>
                <p>{{parcours.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/cours.png">
            <div class="cart">
                <h3>Cours</h3>
                <p>{{cours.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/section.png">
            <div class="cart">
                <h3>Section</h3>
                <p>{{sections.length}}</p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/prof.png">
            <div class="cart">
                <h3>Prof</h3>
                <p>{{profs.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/student.png">
            <div class="cart">
                <h3>Student</h3>
                <p>{{students.length}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../../../assets/demo/images/flag/admin.png">
            <div class="cart">
                <h3>Admins</h3>
                <p>{{admins.length}}</p>
            </div>
        </div>
    </div>
</div>
