
<div class="flex">
    <div class="col col-9">
        <div class="flex">
            <div class="flex justify-content-center">
                <button pButton class="m-2 col col-1 mb-3" icon="pi pi-image" (click)="imageIsOk()"></button>
                <button pButton class="m-2 col col-1 mb-3" icon="pi pi-video" (click)="videoIsOk()"></button>
                <button pButton class="m-2 col col-1 mb-3" icon="pi pi-plus-circle" (click)="quizIsOk()"></button>
            </div>
            <button pButton class="col col-2 col-offset-8 mb-3" (click)="previewIsOk()" label="Preview"></button>
        </div>
        <p-editor id="editeur" [(ngModel)]="item.contenu" [style]="{height: '30rem'}"></p-editor>
        <div class="flex mt-3">
            <button pButton (click)="saveContent()" class="col col-2 p-button-success" label="Save"></button>
            <button pButton (click)="prevCard()" class="col col-2 col-offset-5 p-button-danger" label="Previous"></button>
            <button pButton (click)="nextCard()" class="col col-2 col-offset-1 p-button-warning" label="Next"></button>
        </div>
    </div>
    <div class="col col-3 mt-8 catre-container">
        <div class="m-3 catre"
             *ngFor="let cat of sections; let i = index"
             [ngStyle]="{'background-color': i === selectedCardIndex? 'rgba(246,161,255,0.49)' : 'white'}"
             (click)="selectCard(cat,i)">
            <span class="col col-2">{{cat.numeroOrder}}</span>
            <span class="col col-6">{{cat.categorieSection.libelle}}</span>
        </div>
    </div>
</div>



<!-- ////////// Preview \\\\\\\\\ -->
<p-dialog [(visible)]="okPreview" [style]="{width: '60vw'}">
    <div class="flex">
        <div class="col col-8">
            <div id="htmlEditor" *ngFor="let cont of sections; let j=index">
                <div class="flex flex-column" id="contentWithoutTags" *ngIf="j === selectedCardIndex">
                    {{ stripHtmlTags(cont.contenu) }}
                    <div>
                        <img class="m-5 justify-content-center" *ngIf="cont.urlImage" src='{{cont.urlImage}}'/>
                    </div>
                    <div>
                        <video class="m-5 justify-content-center" *ngIf="cont.urlVideo" controls>
                            <source src="{{cont.urlVideo}}"/>
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4 catre-container">
            <div class="m-3 catre"
                 *ngFor="let cat of sections; let i = index"
                 [ngStyle]="{'background-color': i === selectedCardIndex? 'rgba(246,161,255,0.49)' : 'white'}"
                 (click)="selectCard(cat,i)">
                <span class="col col-2">{{cat.numeroOrder}}</span>
                <span class="col col-5">{{cat.categorieSection.libelle}}</span>
            </div>
            <div class="flex mt-3">
                <button pButton (click)="prevCard()" class="col col-5 p-button-danger" label="Previous"></button>
                <button pButton (click)="nextCard()" class="col col-5 col-offset-2 p-button-warning" label="Next"></button>
            </div>
        </div>
    </div>
</p-dialog>


<!-- ////////// add image \\\\\\\\\ -->
<p-dialog [(visible)]="okImage" [style]="{width: '60vw'}">
    <div class="flex flex-column gap-2">
        <label for="image">Image url</label>
        <input
            pInputText
            id="image"
            [(ngModel)]="urlImage" />
    </div>
    <div class="col col-2 col-offset-10">
        <button pButton icon="pi pi-image" label="ajouter" (click)="saveImage(urlImage)"></button>
    </div>
</p-dialog>


<!-- ////////// add video \\\\\\\\\ -->
<p-dialog [(visible)]="okVideo" [style]="{width: '60vw'}">
    <div class="flex flex-column gap-2">
        <label for="video">Video url</label>
        <input
            pInputText
            id="video"
            [(ngModel)]="urlVideo" />
    </div>
    <div class="col col-2 col-offset-10">
        <button pButton icon="pi pi-video" label="ajouter" (click)="saveVideo(urlVideo)"></button>
    </div>
</p-dialog>

<!-- ////////// quiz \\\\\\\\\ -->
<p-dialog [(visible)]="okQuiz" [style]="{width: '60vw'}">
    <div class="flex flex-column gap-2">
        <label for="question">Question</label>
        <input
            pInputText
            id="question"
            [(ngModel)]="question" />
    </div>
    <div class="flex flex-column mt-2">
        <div class="flex flex-column gap-2">
            <label for="option">Option 1</label>
            <div class="row">
                <input
                    class="col col-9"
                    pInputText
                    id="option"
                    [(ngModel)]="question" />
                <button pButton class="col col-2 col-offset-1" icon="pi pi-times" style="font-size: 2rem" *ngIf="okOption" (click)="optionIshide()"></button>
            </div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="okOption">
            <label for="optionS">Option 1</label>
            <div class="row">
                <input
                    class="col col-9"
                    pInputText
                    id="optionS"
                    [(ngModel)]="question" />
                <button pButton class="col col-2 col-offset-1" icon="pi pi-times" style="font-size: 2rem" (click)="optionIshide()"></button>
            </div>

        </div>
        <button pButton class="m-2 col col-4" icon="pi pi-plus" (click)="optionIsOk()" label="ajouter une option"></button>
    </div>
</p-dialog>
