
<div class="flex">
    <div class="col col-9" style="max-height: 60vh;">
        <div class="flex">
            <button pButton class="col col-2 col-offset-10 mb-3" (click)="previewIsOk()" label="Preview"></button>
        </div>
        <app-preview-dialog></app-preview-dialog>
        <div class="flex mt-3">
            <button pButton (click)="findsecbyId()" class="col col-2 p-button-success" label="Save"></button>
            <button pButton (click)="prevCard()" class="col col-2 col-offset-5 p-button-danger" label="Previous"></button>
            <button pButton (click)="nextCard()" class="col col-2 col-offset-1 p-button-warning" label="Next"></button>
        </div>
    </div>
    <div class="liiiiiiste mt-8 col col-3">
        <ul
             *ngFor="let cat of sections; let i = index"
             [ngStyle]="{'background-color': i === selectedCardIndex? '#ff752e' : 'white', color: i === selectedCardIndex? 'white' : 'black'}"
             (click)="selectCard(cat,i)">
            <li>
                {{cat.numeroOrder}}
                <span>{{cat.libelle}}</span>
            </li>
        </ul>
    </div>
</div>