.catre{
    widht: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
}

.catre-container {
    height: 33rem; /* Adjust the height as needed */
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

img{
    width: 30rem;
    height: 30rem;
}
