.catre{
    widht: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
}

.catre-container {
    height: 33rem; /* Adjust the height as needed */
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

img{
    width: 30rem;
    height: 20rem;
}

video{
    width: 30rem;
    height: 20rem;
}

.cont{
    height: 33rem; /* Adjust the height as needed */
    overflow-y: auto;
}

ul{
    position: relative;
    margin: 100px auto O;
    padding: 10px;
    box-sizing: border-box;
}

ul li{
    display: flex;
    padding: 10px 20px;
    transition: .5s;
}

ul li span{
    padding-left: 1.5rem;
    text-align: center;
}

ul li:hover{
    transform: scale(1.06);
    color: white;
    background-color: #ff8c53;
}

.liiiiiiste{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}