<ul class="layout-menu" *ngIf="collapsed ? 'sidenav-collapsed' : '' ">
    <li class="layout-menu-item" *ngFor="let data of modelAdmin">
        <a class="layout-menu-link" [routerLink]="data.routerLink">
            <i class="layout-menu-icon" [class]="data.icon"></i>
            <span class="layout-menu-link-text" *ngIf="collapsed">{{data.label}}</span>
        </a>
    </li>
</ul>

<div>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-fw pi-sign-in"></i>
            <span >signOut</span>
        </button>
    </div>
</div>
