

.tall-container {
    height: 200px;
    weidth: 100px; /* Définissez la hauteur souhaitée */
}


.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button {
    color: black; /* Changer la couleur des boutons en gris */
    border: none;
    font-size: 16px; /* Augmenter la taille du texte des boutons */
    padding: 10px 20px; /* Ajuster le rembourrage pour agrandir la zone cliquable */
}

.icon-button:hover {
    opacity: 0.7; /* Réduire légèrement l'opacité au survol */
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    flex-grow: 1;
    width: 100%;
}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    width: 50px; /* Largeur du conteneur des boutons */
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

/*border dessous*/
.with-border {
    position: relative;
}

.with-border::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 97%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-border:focus-within::after {
    background-color: #555555;
}

.with-borderR {
    position: relative;
}

.with-borderR::after {
    content: '';
    position: absolute;
    bottom: -1px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 94%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-borderR:focus-within::after {
    background-color: orange;
}

/*autre*/
.with-borders {
    position: relative;
}

.with-borders::after {
    content: '';
    position: absolute;
    bottom: 2px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 94%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-borders:focus-within::after {
    background-color: orange;
}




/*margre*/
.marge{
    margin-top: 10px; /* Ajuste la position verticale de l'icône vers le bas */

}

/*choix multiples*/
.reponse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Assure que l'input et l'icône plus sont espacés */
    margin-bottom: 10px; /* Ajoute un espace entre les éléments empilés */
}

.ico {
    display: inline-block;
    margin-top: 10px; /* Ajuste la position verticale de l'icône vers le bas */
    margin-right: 7px; /* Espacement entre l'icône et l'entrée de texte */
}

.with-borderChoix {
    position: relative;
    flex-grow: 1; /* L'input prend toute la place disponible */
}

.with-borderChoix::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 99%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.with-borderChoix:focus-within::after {
    background-color: orange;
}

/*icon*/
.trash-icon {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    padding: 1rem;
    z-index: 10; /* Ensure it's above other elements */
}
/*image*/
.image-class {
    max-width: 100%;
    height: 50%;
    margin-top: 200px;
}

/*video*/
.video-class {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.video-controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.video-controls button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}
/**/
.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.media-class, iframe {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.conn{
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iinp{
    font-size: 1.2rem;
    border: 0;
}

