<div class="grid" *ngIf="listActionIsValid">
    <div class="flex-container">
        <p-toast></p-toast>
        <div class="left-container">
            <div *ngFor="let elemt of itemsOfQuiz" class="conn">
                <p-card >
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-8 ">
                            <div>
                                <input id="quizshow" type="text" placeholder="Question ?"
                                       [ngModel]="elemt.libelle"
                                       class="iinp surface-overlay p-2 border-0 outline-none w-full"
                                       readonly>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4 mb-3">
                            <div>
                                <p-dropdown appendTo="body" [options]="typeDeQuestions" [ngModel]="elemt.typeDeQuestion"
                                            id="quiztypeDeQuestions"
                                            [style]="{
                                                          'border': 'none',
                                                          'border-bottom': '2px solid transparent',
                                                          'box-shadow': 'none',
                                                          'width': '100%',
                                                          'font-size': '2.5rem',
                                                          'font-weight': 'bold',
                                                          'color': '#000',
                                                          'opacity': '1',
                                                          'pointer-events': 'none'
                                                        }"
                                            [showClear]="true" optionLabel="lib" [disabled]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div *ngIf="elemt.urlVideo" class="field col-12  md:col-6">
                            <iframe width="100%" height="400"
                                    [src]="getEmbedUrl(elemt.urlVideo)"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div *ngIf="elemt.urlImg" class="field col-12  md:col-6">
                            <p-image [src]="elemt.urlImg" alt="Image" class="image-class" width="600" height="400" [preview]="true"></p-image>
                        </div>

                        <div *ngFor="let rep of elemt.reponses" class="field col-12  mb-3">
                            <div *ngIf="rep.etatReponse == 'Reponse Courte'" class="with-border">
                                <input id="repCourte" type="text" placeholder="Reponse Courte"
                                       [disabled]="true"
                                       class="text-2xl font-bold text-color surface-overlay p-2 border-0 border-b-2 border-solid border-primary appearance-none outline-none w-full">
                            </div>
                            <div *ngIf="rep.etatReponse == 'Paragraphe'" class="with-border">
                   <!--  <textarea rows="5" cols="30" type="text"
                               placeholder="Paragraphe"  [disabled]="true"
                               class="text-2xl font-bold text-color surface-overlay p-2 border-0 border-b-2 border-solid border-primary appearance-none outline-none w-full">
                    </textarea>-->
                                <textarea rows="5" cols="30" pInputTextarea
                                          [disabled]="true"
                                          placeholder="Pargraphe"     class="text-2xl font-bold text-color surface-overlay p-2 border-0 border-b-2 border-solid border-primary appearance-none outline-none w-full"></textarea>
                            </div>
                            <div *ngIf="rep.etatReponse == 'Choix multiples'">
                                <div class="reponse">
                                    <div class="ico">
                                        <span class="pi pi-stop" style="font-size: 1.5rem; color: gray;"></span>
                                    </div>
                                    <div class="with-borderChoix">
                                        <input id="reponceschoix" type="text"
                                               [ngModel]="rep.lib" class="text-2xl font-bold text-color surface-overlay p-2 border-0 border-b-2 border-solid border-primary appearance-none outline-none w-full" readonly>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="rep.etatReponse == 'Cases a cocher'">
                                <div class="reponse">
                                    <div class="ico">
                                        <span class="pi pi-circle" style="font-size: 1.5rem; color: gray;"></span>
                                    </div>
                                    <div class="with-borderChoix">
                                        <input id="reponcescases" type="text"
                                               [ngModel]="rep.lib" class="text-2xl font-bold text-color surface-overlay p-2 border-0 border-b-2 border-solid border-primary appearance-none outline-none w-full" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="pi pi-trash trash-icon" (click)="deleteqst(elemt)"></span>
                </p-card>
            </div>
        </div>
        <div class="left-container flex flex-row">
            <div class="flex-container conn col col-10">
                <div class="mb-4">
                    <p-card [style]="{width: '100%'}">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6 with-border">
                                <input type="text" placeholder="Question ?"
                                       [(ngModel)]="item.libelle"
                                       name="quizTitle"    class="iinp surface-overlay p-2 border-0 outline-none w-full">
                            </div>
                                <!--   <div class="field col-12 md:col-2">
                                       <span class="icon-button pi pi-image" style="font-size: 1.5rem"></span>
                                   </div>-->

                            <div class="field col-12 md:col-4">
                                <p-splitButton label="État Réponse"
                                               styleClass="p-button-text p-button-secondary mr-0 mb-2"
                                               [model]="this.typeReponse"
                                               [(ngModel)]="itemReponse.lib"
                                               [style]="{ 'border': 'none', 'box-shadow': 'none' }">
                                </p-splitButton>
                            </div>
                            <div class="field col-12 md:col-6 with-border">
                                    <input id="ref" type="text" placeholder="Ref"
                                           [(ngModel)]="item.ref"
                                           class="iinp surface-overlay p-2 border-0 outline-none w-full">
                                </div>

                                <div class="field col-12 md:col-6 with-border mb-3">
                                    <div>
                                        <p-dropdown appendTo="body" [options]="typeDeQuestions"
                                                    [(ngModel)]="item.typeDeQuestion" id="typeDeQuestions"
                                                    [style]="{ 'border': 'none', 'border-bottom': '2px solid transparent', 'box-shadow': 'none', 'width': '100%' , 'font-size': '2.5rem' , 'font-weight': 'bold' }"
                                                    [showClear]="true" optionLabel="lib" placeholder="type De Question" required>
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="marge field col-12 ">
                                    <app-reponse-list-admin></app-reponse-list-admin>
                                </div>


                            </div>
                        </p-card>
                    </div>
                </div>

                <div class="right-container col col-2">
                    <div class="button-container">
                        <div class="button-group">
                            <div class="button-row">
                                <app-question-create-admin></app-question-create-admin>
                            </div>
                            <div class="button-row">
                                <span (click)="addImage()" class="icon-button pi pi-image" style="font-size: 1.5rem"></span>
                            </div>
                            <div  class="button-row">
                                <span (click)="addvideo()" class="icon-button pi pi-video" style="font-size: 1.5rem"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
<p-dialog [(visible)]="toaddimage" [style]="{width: '70vw'}" header="{{'reponse.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
                <div class="grid">
                    <div class="field col-12">
                        <label for="image">Lien de l'image</label>
                        <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'reponse.etatReponse' | translate}}" id="image" name="image" [(ngModel)]="item.urlImg"
                        />
                    </div>
                </div>
    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="hidedia()"></button>
            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hidedia()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="toaddimage" [style]="{width: '70vw'}" header="{{'reponse.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="field col-12">
            <label for="video">Lien de l'image</label>
            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'reponse.etatReponse' | translate}}" id="video" name="video" [(ngModel)]="item.urlVideo"
            />
        </div>
    </div>
    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="hidedia()"></button>
            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hidedia()"></button>
        </div>
    </ng-template>
</p-dialog>

<app-question-create-admin *ngIf="createDialog  && createActionIsValid"></app-question-create-admin>
<app-question-edit-admin *ngIf="editDialog  && editActionIsValid"></app-question-edit-admin>
<app-question-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-question-view-admin>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
