<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'section.tabPan' | translate}}" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'section.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{ 'section.code' | translate }}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="{{'section.code' | translate}}"
                               id="1" [(ngModel)]="item.code"
                               [ngClass]="{'ng-invalid ng-dirty' : !validSectionCode}"/>
                        <small class='p-error' *ngIf='!validSectionCode'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{ 'section.libelle' | translate }}</label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="{{'section.libelle' | translate}}"
                               id="2" [(ngModel)]="item.libelle"
                        />

                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{ 'section.numeroOrder' | translate }}</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" placeholder="{{'section.numeroOrder' | translate}}"
                                       [(ngModel)]="item.numeroOrder">
                        </p-inputNumber>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="11">{{ 'section.categorieSection' | translate }}</label>
                        <p-dropdown appendTo="body" [options]="categorieSections" [(ngModel)]="item.categorieSection"
                                    id="11" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle"
                                    placeholder="{{'section.categorieSection' | translate}}"
                                    >
                        </p-dropdown>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button pButton pRipple class="border-0" style="background-color: #FF725E;" label="{{'validate' | translate}}" icon="pi pi-check" (click)="saveNewSection()"></button>


            <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined"
                    (click)="hideCreateDialog()"  style="color: #FF725E;"></button>


        </div>
    </ng-template>

</p-dialog>
