/*


.tall-container {
    height: 200px;
    weidth: 100px; !* Définissez la hauteur souhaitée *!
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button {
    background-color: black;
    border: none;
}

!* Ajoutez ces règles CSS pour les nouveaux conteneurs *!

.flex-container {
    display: flex;
}

.left-container {
    flex-grow: 1;
    margin-right: 10px; !* Espace entre les deux conteneurs *!
}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.button-container {
    align-self: flex-end; !* Aligner le conteneur des boutons à droite *!
    width: 50px; !* Largeur du conteneur des boutons *!
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    height : 250px;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button {
    background-color: transparent; !* Changer la couleur des boutons en gris *!
    border: none;
    font-size: 16px; !* Augmenter la taille du texte des boutons *!
    padding: 10px 20px; !* Ajuster le rembourrage pour agrandir la zone cliquable *!
}

*/
/*!* admin-quiz-form.component.css *!

.admin-quiz-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.admin-quiz-form h2 {
    margin-bottom: 20px;
}

.admin-quiz-form label {
    display: block;
    margin-bottom: 10px;
}

.admin-quiz-form input[type="text"],
.admin-quiz-form input[type="number"],
.admin-quiz-form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; !* Pour inclure la bordure et le padding dans la largeur *!
}

.admin-quiz-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-quiz-form button:hover {
    background-color: #fc965d;
}
*!*/

.tall-container {
    height: 200px;
    width: 100px; /* Définissez la hauteur souhaitée */
}

/*.button-container {
    width: 50px;
    background-color: whitesmoke;
    border-radius: 10px; !* Vous pouvez ajuster cette valeur selon vos préférences *!
    padding: 10px; !* Vous pouvez ajuster cette valeur selon vos préférences *!
}*/

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button {
    color: black; /* Changer la couleur des boutons en gris */
    border: none;
    font-size: 16px; /* Augmenter la taille du texte des boutons */
    padding: 10px 20px; /* Ajuster le rembourrage pour agrandir la zone cliquable */
}

.icon-button:hover {
    opacity: 0.7; /* Réduire légèrement l'opacité au survol */
}

.flex-container {
    display: flex;
    justify-content: center;
}

.left-container {
    margin-right: 10px; /* Espace entre les deux conteneurs */
}

.right-container {
    display: inline-block;
}

.button-container {
    align-self: flex-end; /* Aligner le conteneur des boutons à droite */
    width: 50px; /* Largeur du conteneur des boutons */
    background-color: whitesmoke;
    border-radius: 10px;
    height : 50px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*border dessous*/
.with-border {
    position: relative;
}

.with-border::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 97%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-border:focus-within::after {
    background-color: #555555;
}

.with-borderR {
    position: relative;
}

.with-borderR::after {
    content: '';
    position: absolute;
    bottom: -1px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 94%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-borderR:focus-within::after {
    background-color: orange;
}

/*autre*/
.with-borders {
    position: relative;
}

.with-borders::after {
    content: '';
    position: absolute;
    bottom: 2px; /* Positionner la bordure en dessous de l'input */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 94%; /* Largeur de la bordure */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.with-borders:focus-within::after {
    background-color: orange;
}


/**/
.titlewidth{
    width: 100%;
}

.connn{
    width: 50rem;
}

.iiiinp{
    font-size: 1.2rem;
    border: 0;
}

.st{
    height: 2rem;
}

.qqq{
    text-align: center;
}