<div class="grid qqqq" *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="flex-container">
            <div class="left-container">
                <div class="mb-4 connn">
                    <div class="sss" *ngIf="!this.addquiz">
                        <div class="side"></div>
                        <div class="carta" [style]="{width: '100%'}">
                            <div class="formgrid grid">
                                <div class="field col-12 md:col-12 input-data" style="width: 100%;">
                                    <input id="quizLabel" type="text" class="outline-none" [(ngModel)]="item.lib" required>
                                    <div class="underline"></div>
                                    <label>Quiz Label</label>
                                </div>
    
                                <div class="field col-12 md:col-6 input-data" style="width: 50%;">
                                    <input id="ref" type="text" [(ngModel)]="item.ref" class="outline-none" required>
                                    <div class="underline"></div>
                                    <label>Ref</label>
                                </div>
    
                                <div class="field col-12 md:col-6  input-data" style="width: 50%;">
                                    <input id="numero" type="text" [(ngModel)]="item.numero"  class="outline-none" required>
                                    <div class="underline"></div>
                                    <label>Numero</label>
                                </div>
    
                                <div class="field col-12 md:col-6">
                                    <div >
                                        <p-dropdown appendTo="body" [options]="itemsSec" [(ngModel)]="item.section" id="quizsection" [filter]="true" filterMatchMode="contains"
                                                    [style]="{ 'border': 'none', 'border-bottom': '2px solid transparent', 'box-shadow': 'none', 'width': '100%' , 'font-size': '1.2rem'}"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{ 'quiz.section' | translate }}"
                                                  >
                                        </p-dropdown>
                                    </div>
                                </div>
    
    
                                <div class="field col-12 md:col-6 input-data" style="width: 50%;">
                                    <input id="seuilReussite" type="text" [(ngModel)]="item.seuilReussite" class="outline-none" required>
                                    <div class="underline"></div>
                                    <label>Seuil de Reussite</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.addquiz" style="width: 100%;">
                        <div class="toop"></div>
                        <div class="carta ccccc">
                            <h3>{{itemQuizShow.lib}}</h3>
                        </div>
                    </div>
                </div>

                <app-question-list-admin *ngIf="showqst"></app-question-list-admin>
            </div>

            <div *ngIf="!this.addquiz" class="right-container">


                <div class="button-container shadow-2">
                    <div class="button-group">
                        <div class="button-row">
                            <app-quiz-create-admin></app-quiz-create-admin>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <app-quiz-create-admin *ngIf="createDialog  && createActionIsValid"></app-quiz-create-admin>
    <app-quiz-edit-admin *ngIf="editDialog  && editActionIsValid"></app-quiz-edit-admin>
    <app-quiz-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-quiz-view-admin>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
